# is a child of the Home.razor html page

:root {
    --wrong-color: red;
}

body {
}

.text {
    font-size: 20px;
}

.GoodLuck {
    font-size: 20px;
    font-weight: bold;
}

.CurrentQuestion {
    font-weight: bold;
    font-size: 40px;
}

.TheQuestion {
    font-size: 20px;
}

.QuizTitle {
    font-size: 50px;
    font-weight: bold;
    color: forestgreen;
    background-image: linear-gradient(0deg, forestgreen, lightgreen);
    background-clip: text;
    color: transparent;
}

quiz-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
}

/* general layout form the questions */
.options {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-left: 20px;
    height: 300px;
    font-size: 30px;
}

    .options:hover {
        color: #6e6e6e;
    }

/* each individual choice for every question */
.option {
    padding: 15px;
    background-color: #ffffff;
    border: 2px solid black;
    border-radius: 20px;
    transition: background-color 0.3s;
    color: black;
    height: 150px;
}

    .option:active {
        transform: scale(0.95);
    }

option.hover {
    background-color: #545454;
}

.option.correct {
    border: 2px solid black;
    color: black;
    background-color: green;
    border-radius: 20px;
    font-weight: bold;
}

.option.wrong {
    background-color: red;
    color: black;
    font-size: 30px;
    top: 0ch;
}

.options.answered-incorrect .option:not(.selected) {
    background-color: var(--wrong-color);
    color: black;
}

.options.answered-correct .option:not(.selected) {
    opacity: 0.6;
}

.right {
    font-size: 30px;
    text-align: center;
    color: green;
    font-weight: bold;
    position: relative;
    top: 2ch;
}

.rightanswer {
    font-size: 30px;
    color: green;
    position: relative;
    top: 2ch;
}

.wrong {
    font-size: 30px;
    text-align: center;
    color: red;
    font-weight: bold;
    position: relative;
    top: 2ch;
}

.feedback {
    margin-top: 20px;
    font-weight: bold;
    font-size: 25px;
    position: relative;
    left: 0ch;
    text-align: center;
}

feedback.correct {
    margin-top: 10px;
    font-size: 20px;
    color: green;
    font-weight: 600;
    background-color: white;
}

feedback.wrong {
    margin-top: 20px;
    font-size: 20px;
    color: red;
    font-weight: 600;
    background-color: white;
}

.nextButton {
    background-color: #8d8b8b;
    color: black;
    border: 1px solid black;
    height: 100px;
    width: 150px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    bottom: 70px;
    position: relative;
}

    .nextButton:hover {
        background-color: #45a049;
    }

    .nextButton:active {
        transform: scale(0.95);
    }

.results {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
    text-align: center;
}

.finishButton {
    background-color: #8d8b8b;
    color: black;
    border: 1px solid black;
    height: 40px;
    width: 50px;
}

.Begin {
    height: 50px;
    width: 80px;
    font-size: 25px;
    color: white;
    -webkit-text-stroke: 0.5px black;
    font-weight: bold;
}

.Begin:active {
    transform: scale(0.95);
}

.Retry {
    height: 70px;
    width: 100px;
    position: relative;
    top: 5ch;
    left: 66ch;
}

.Retry:active {
    transform: scale(0.95);
}

.QuizComplete {
    font-size: 50px;
    font-weight: bold;
}

.EndOfQuiz {
    font-size: 20px;
}

.PlayAgain {
    height: 80px;
    width: 150px;
    font-size: 25px;
}

.PlayAgain:active {
    transform: scale(0.95);
}

@media screen and (max-width: 1024px) {

    .text, .GoodLuck {
        font-size: 15px;
    }


    .CurrentQuestion {
        font-size: 30px;
    }

    .TheQuestion {

    }

    .QuizTitle {
        font-size: 35px;
    }

    .options {

    }

    .option {
        font-size: 20px;
        height: 120px;
    }

    .option.correct {
        font-size: 20px;
    }

    .option.wrong {
        font-size: 20px;
    }

    .right {
        font-size: 18px;
        top: -5ch;
    }

    .rightanswer {
        font-size: 18px;
        top: -5ch;
    }

    .wrong {
        font-size: 18px;
        top: -5ch;
    }

    .feedback {
        font-size: 18px;
        height: 40px;
    }

    .feedbck.correct {

    }

    .feedback.wrong {

    }

    .nextButton {
        height: 70px;
        width: 100px;
        font-size: 15px;
        margin-top: 48px;
        position: relative;
        top: -6ch;
    }

    .results {

    }

    .finishButton {

    }

    .Begin {
        height: 30px;
        width: 50px;
        font-size: 14px;
    }

    .Retry {
        height: 40px;
        width: 70px;
        font-size: 16px;
        left: 42ch;
        top: 12ch;
    }

    .QuizComplete {
        font-size: 30px;
    }

    .EndOfQuiz {
        font-size: 17px;
    }

    .PlayAgain {
        height: 50px;
        width: 110px;
        font-size: 20px;
    }
}
