.text {
    font-size: 25px;
}

.Home {
    font-size: 50px;
    background-image: linear-gradient(1deg, red, blue);
    background-clip: text;
    color: transparent;
}


.Rules {
    font-size: 40px;
    text-align: center;
    background-image: linear-gradient(1deg, blue, red);
    background-clip: text;
    color: transparent;
}

.rulesExplain {
    font-size: 25px;
}

.Categories {
    font-size: 25px;
}

.QuizCategories {
    font-size: 25px;
}

.Sports {
    color: blue;
    -webkit-text-stroke: 0.5px white;
    font-weight: bold;
}

.Pairs {
    color: yellow;
    -webkit-text-stroke: 0.5px navy;
    font-weight: bold;
}

.History {
    color: brown;
    -webkit-text-stroke: 0.5px lightgrey;
    font-weight: bold;
}

.LEGO {
    color: red;
    -webkit-text-stroke: 0.5px yellow;
    font-weight: bold;
}

.PlayQuiz {
    height: 80px;
    width: 100px;
    font-size: 25px;
    justify-content: left;
}

.PlayQuiz:active {
    transform: scale(0.95);
}

@media screen and (max-width: 1024px) {
    .text {
        font-size: 15px;
    }

    .Home {
        font-size: 30px;
        color: mediumpurple;
    }

    .Rules {
        font-size: 20px;
        text-align: center;
    }

    .rulesExplain {
        font-size: 15px;
    }

    .Categories {
        font-size: 15px;
    }

    .QuizCategories {
        font-size: 12px;
    }

    .Sports {
        -webkit-text-stroke: 0.3px white;
        font-size: 15px;
    }

    .Pairs {
        -webkit-text-stroke: 0.3px navy;
        font-size: 15px;
    }

    .History {
        -webkit-text-stroke: 0.3px lightgrey;
        font-size: 15px;
    }

    .LEGO {
        -webkit-text-stroke: 0.3px yellow;
        font-size: 15px;
    }

    .PlayQuiz {
        height: 40px;
        width: 60px;
        font-size: 12px;
    }
}